<!DOCTYPE html>
<html lang="ko">
  {% load static %}
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>상세화면</title>
    <link rel="stylesheet" href="{% static 'css/detail.css'%}" />
  </head>
  <body>
    <nav>
      <div class="logo">
        <a href="{% url 'posts:home' %}">My <span>SW Idea</span> Manage</a>
      </div>
      <a href="{% url 'posts:create' %}"> 아이디어 등록 </a>
      <a href="{% url 'posts:home' %}"> 아이디어 관리 </a>
      <a href="{% url 'posts:dev-create' %}"> 개발툴 등록 </a>
      <a href="{% url 'posts:dev-home' %}"> 개발툴 관리 </a>
    </nav>
    <article>
      <div class="title">
        <h2>Idea Register</h2>
        <p>아이디어 등록 페이지입니다. 당신의 아이디어를 잊지말고 기록하세요!</p>
      </div>
      <div class="detail">
        {% if post.photo %}
        <p>
          <img src="{{post.photo.url}}" />
        </p>
        {% endif %}
        <div class="desc">
          <h2>{{ post.title }}</h2>
          <p>
            1) 아이디어 관심도<br />
            {{post.interest}}
          </p>
          <p>
            2) 예상 개발 툴<br />
            <span><a class="goTool" href="{% url  'posts:dev-detail' post.test.id %}">{{post.test.name}}</a></span>
          </p>
          <p>
            3) 아이디어 설명<br />
            {{post.content}}
          </p>
        </div>
      </div>
      <div class="btnContainer">
        <form action="{% url 'posts:delete' post.id %}" method="post">
          {% csrf_token %}
          <button class="delBtn">삭제</button>
        </form>
        <a href="{% url 'posts:home' %}" class="listBtn">목록</a>
        <a href="{% url 'posts:update' post.id %}" class="updateBtn">수정</a>
      </div>
    </article>
  </body>
</html>
