<!DOCTYPE html>
<html lang="ko">
  {% load static %}
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>상세화면</title>
    <link rel="stylesheet" href="{% static 'css/devDetail.css'%}" />
  </head>
  <body>
    <nav>
      <div class="logo">
        <a href="{% url 'posts:home' %}">My <span>SW Idea</span> Manage</a>
      </div>
      <a href="{% url 'posts:create' %}"> 아이디어 등록 </a>
      <a href="{% url 'posts:home' %}"> 아이디어 관리 </a>
      <a href="{% url 'posts:dev-create' %}"> 개발툴 등록 </a>
      <a href="{% url 'posts:dev-home' %}"> 개발툴 관리 </a>
    </nav>
    <article>
      <div class="title">
        <h2>DevTool Detail</h2>
        <p>개발툴 세부내용 페이지 입니다. 자신이 다룰 수 있는 개발툴에 대한 상세내용을 확인해 보아요.</p>
      </div>
      <div class="detail">
        <h2>{{ devtool.name }}</h2>
        <div class="desc">
          <p>{{devtool.kind}}</p>
          <p>{{devtool.content}}</p>
        </div>
        <div class="canMake">
          <h4>&gt; 만들 수 있는 SW 목록</h4>
        </div>
      </div>
      <div class="btnContainer">
        <form action="{% url 'posts:dev-delete' devtool.id %}" method="post">
          {% csrf_token %}
          <button class="delBtn">삭제</button>
        </form>
        <a href="{% url 'posts:dev-home' %}" class="listBtn">목록</a>
        <a href="{% url 'posts:dev-update' devtool.id %}" class="updateBtn">수정</a>
      </div>
    </article>
  </body>
</html>
