<!DOCTYPE html>
<html lang="ko">
  {% load static %}
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Idea Register</title>
    <link rel="stylesheet" href="{% static 'css/update.css'%}" />
  </head>
  <body>
    <nav>
      <div class="logo">
        <a href="{% url 'posts:home' %}">My <span>SW Idea</span> Manage</a>
      </div>
      <a href="{% url 'posts:create' %}"> 아이디어 등록 </a>
      <a href="{% url 'posts:home' %}"> 아이디어 관리 </a>
      <a href="{% url 'posts:dev-create' %}"> 개발툴 등록 </a>
      <a href="{% url 'posts:dev-home' %}"> 개발툴 관리 </a>
    </nav>
    <div>
    <form action="{% url 'posts:update' post.id %}" method="post" enctype="multipart/form-data">
      {% csrf_token %}
      <div class="title">      
        <h2>Idea Register</h2>
        <p>아이디어 등록 페이지입니다. 당신의 아이디어를 잊지말고 기록하세요!</p>
      </div>
      <div class="desc">
        <p>
          <p>아이디어명:</p>
          <input type="text" name="title" value="{{post.title}}"/>
        </p>
        <p>
          <p>Image:</p>
          <p>Currently: {{post.photo}}</p>
          <p>Change :
            <input type="file" name="photo" />
          </p>
        </p>
        <p>아이디어 설명:</p>
        <textarea name="content" id="" cols="30" rows="10">{{post.content}}</textarea>
        <p>
        <p>
          <p>아이디어 관심도:</p>
          <input type="number" name="interest" value="{{post.interest}}"/>
        </p>
        <p>예상 개발툴:</p>
        <select name="devTools">
          {% for key, value in devTools %}
          <option value="{{ value }}" {% if value == post.devTools %}selected{% endif %}>{{ value }}</option>
          {% endfor %}
        </select>
        </p> 
      </div>
      <div>
        <input class="submitBtn" type="submit" value="SUBMIT" />
      </div>
    </form>
  </div>
  </body>
</html>
