:root {
  --gray1: lightgray;
  --gray2: gray;
  --main-border: 1px solid var(--gray1);
}

html {
  background-color: #efefef;
}

body {
  width: 30rem;
  margin: 1rem auto;
  background-color: white;
  padding: 0;
  border: var(--main-border);
  border-radius: 0.7rem;
}

button,
a {
  cursor: pointer;
}

.profile {
  width: 2.5rem;
  height: 2.5rem;
  object-fit: cover;
  border-radius: 50%;
  margin: 0.5rem;
  margin-left: 1rem;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header .container {
  display: flex;
  gap: 0.5rem;
}

header .info-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}

header .info-container span {
  font-size: 0.8rem;
}

header .info-container .user-id {
  font-weight: bold;
  font-size: 1rem;
}

header .more {
  margin: 1rem;
}

main .post-img {
  width: 100%;
  object-fit: contain;
}

main .main-container {
  margin-top: 0.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

main i {
  font-size: 1.5rem;
  color: black;
}

main button {
  border: none;
  background-color: white;
}

main .icon-container {
  display: flex;
  margin-left: 0.7rem;
  gap: 1rem;
}

main .bookmark-btn {
  margin-right: 0.7rem;
}

main .fa-circle {
  font-size: 0.5rem;
  margin-right: 5rem;
  color: #47afff;
}

main .second-block {
  margin: 1rem;
  margin-bottom: 0.5rem;
}

#heart {
  color: #fb3958;
}

main .second-block span {
  font-size: 0.9rem;
}

main .second-block .user-id {
  font-weight: bold;
  font-size: 1rem;
}

main .comment-block p {
  font-size: 0.9rem;
  margin: 0;
  margin-left: 0.9rem;
  margin-bottom: 0.4rem;
}

main .comment-block p span {
  font-weight: bold;
  margin-right: 0.3rem;
}

main .comment {
  display: flex;
}

main .comments p .delBtn {
  margin-left: auto;
  margin-right: 0.7rem;
  color: grey;
}

main .comment-block .comment-all {
  color: grey;
}

main .comment-block form {
  margin: 0;
  width: 100%;
  border-top: 0.1rem solid rgb(225, 225, 225);
  padding: 0.5rem 0;
}

main .comment-block form p {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}

main .comment-block form input {
  border: none;
  font-size: 0.9rem;
  width: 78%;
  padding: 0.5rem 0;
}

main .comment-block form input:focus {
  outline: none;
}

main .comment-block form button {
  font-size: 1rem;
  color: #47afff;
  margin-right: 0.7rem;
}
