<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>상세화면</title>
  </head>
  <body>
    <a href="{% url 'posts:home' %}">my Movie reviews</a>
    <article>
      <h2>{{ post.title }}</h2>
      <p>개봉년도 {{ post.release_year }}</p>
      <p>감독 {{post.director}}</p>
      <p>주연 {{post.main}}</p>
      <p>장르 {{post.genre}}</p>
      <p>별점 {{post.rate}}</p>
      <p>러닝타임 {{post.running_time}}</p>
      <div>{{post.review}}</div>
    </article>

    <a href="{% url 'posts:update' post.id %}">수정</a>
    <form action="{% url 'posts:delete' post.id %}" method="post">
      {% csrf_token %}
      <button>삭제</button>
    </form>
  </body>
</html>
